body,html{
    background-color: var(--light);
    color: white;
    margin: 0;
    padding: 0;
}
:root{
    --dark: rgb(152, 2, 147);
    --light: rgb(251, 127, 255);
}
nav{
    background-color: var(--dark);
    color: white;
    top:0;
    left: 0;
    margin:0;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 10px;
}
.gameContainer{
    display: flex;
    justify-content: center;

}
.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    border: 3px solid black;
    border-radius: 8px;
    margin-right: 10px;
    color: var(--dark);
    background-color: var(--dark);
}

.box{
    font-size: 8vw;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    background-color: var(--light);
}
.box:hover{
    background-color: var(--dark);
    color: var(--light);
    cursor: pointer;
}

.gameInfo{
    border-radius: 10px;
    padding: 10px;
    color: var(--dark);

}
button{
    background-color: var(--dark);
    color:white;
    border-radius: 8px;
    font-size: larger;
    margin: 10px;
    border: 1px solid var(--dark);
    box-shadow: 1px 2px 1px black;
}
button:active{
    box-shadow: 1px 2px 1px var(--dark);
    border: 1px solid var(--dark);
    color:var(--dark);
    background-color: var(--light);

}
h1{
    margin: 10px;
}
.info{
    margin: 10px;
    font-weight: bolder;
}
#cold{background-color: #0066cc; color: #66d9fc}
#bold{background-color: #4d9900; color: #80ff00}
#gold{background-color: #e6c300; color:#ffe866}